<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.caesar.user">


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/res_tools_app_user_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/res_tools_TranslucentTheme"
        tools:replace="android:label">
        <activity
                android:name=".view.UserInfoActivity"
               ></activity>
        <activity
                android:name=".view.ProtocolActivity"
               />
        <activity
                android:name=".view.RestPasswordActivity"
                />
        <activity
                android:name=".DebugTestActivity"
                android:windowSoftInputMode="adjustPan" />
        <activity
                android:name=".view.RegisterActivity"
                />
        <activity
                android:name=".DebugMainActivity"
               >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.LoginActivity"
                 />
    </application>

</manifest>